body {
  background-color: #B2DFDB;
}

.shakes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.shakes-container > div {
  margin: 10px;
}

.shake-item {
  margin: 10px;
  background-color: rgb(213, 232, 35);
  color: rgb(244, 23, 111);
  border: 1px solid rgb(12, 160, 235);
  border-radius: 1px;
  font-family: 'Times New Roman', Times, serif;
}

.listItem {
  margin: 0 10px;
  font-size: 30px;
  border-bottom: 1px solid Blue;
  font-family: 'Times New Roman';
}
